/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", sans-serif;
}

.row {
  background-color: #e9d9ffa8;
  border: 1px solid #b5abcd;
}

a {
  color: inherit;
}

.box {
  background-color: #007bffc2;
  border: 1px solid #000;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.col-2 {
  background-color: rgba(127, 255, 212, 0);
}

h2 {
  color: #1d2d44;
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

h3 {
  color: #748cab;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}

p {
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.highlight {
  color: #f44336;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// base rules
// ==================================== */
